<!--<ion-view view-title="Playlists">-->
    <!--<ion-content>-->
        <!--<ion-list>-->
            <!--<ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">-->
                <!--{{playlist.title}}-->
            <!--</ion-item>-->
        <!--</ion-list>-->
    <!--</ion-content>-->
<!--</ion-view>-->

<ion-tabs class="tabs-positive tabs-icon-only">

    <ion-tab title="Home" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline" ui-sref="app.home.tab1">
        <ion-nav-view name="tab1"></ion-nav-view>
    </ion-tab>

    <ion-tab title="About" icon-on="ion-ios-clock" icon-off="ion-ios-clock-outline" ui-sref="app.home.tab2">
        <ion-nav-view name="tab2"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Settings" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline" ui-sref="app.home.tab3">
        <ion-nav-view name="tab3"></ion-nav-view>
    </ion-tab>

</ion-tabs>
