<ion-modal-view>
    <ion-header-bar class="bar-positive">
        <h1 class="title">Login</h1>
    </ion-header-bar>
    <ion-content>
        <form ng-submit="doLogin(loginData)">
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Username</span>
                    <input type="text" ng-model="loginData.username">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" ng-model="loginData.password">
                </label>
                <label class="item">
                    <button class="button button-block button-positive" type="submit">Log in</button>
                </label>
            </div>
            <div class="center">
                <a ng-click="showRegister()">Don't have an account yet?</a>
            </div>
        </form>
    </ion-content>
</ion-modal-view>
